<%- include("partials/header.ejs") %>

<div class="container">
    <h1>Weather App</h1>
    <input type="text" id="search" placeholder="Search for a City" name="city"/>
    <ul id="results">
    </ul>
    <div id="weather" class="card text-center pb-4 mt-4">
        
    </div>
</div>


<%- include("partials/footer.ejs") %>